/*registration*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body{
  /*background: linear-gradient(
     105deg,
     #88beee ,
     #0a2e73
 );*/
}

.wrapper{
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  display: flex;
}

.registration_form{
  width: 340px;
 
}

.registration_form .title{
  padding: 0.5rem 0.5rem;
      border-radius: 3px;
  color: white;
  background:#f39c12;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 25px;
}

.form_wrap{
  margin-top: 10px;
}

.form_wrap .input_wrap{
  margin-bottom: 15px;

  
}

.form_wrap .input_wrap:last-child{
  margin-bottom: 0;
}

.form_wrap .input_wrap label{
  margin-bottom: 3px;
  color: #1a1a1f;
  display: block;
}

.form_wrap .input_grp{
  display: flex;
  justify-content: space-between;
}

.form_wrap .input_grp  input[type="text"]{
  width: 165px;
}

.form_wrap  input[type="text"]{
  width: 100%;
  padding: 8px;
  outline: none;
  border-radius: 3px;
  border: 1.3px solid #9597a6;
}

.form_wrap  input[type="text"]:focus{
  border-color: #f39c12;
}

.form_wrap ul{
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  border:none;
  width:70%;
  margin-left: 15%;
}

.form_wrap ul li:first-child{
  margin-right: 15px;
}

.form_wrap ul .radio_wrap{
  position: relative;
  margin-bottom: 0;
}

.form_wrap ul .radio_wrap .input_radio{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.form_wrap ul .radio_wrap div{
  display: inline-block;
  font-size: 17px;
  padding: 3px 15px;
  border-radius: 15px;
  color: #101749;
}

.form_wrap .input_radio:checked ~ div{
  background:#f39c12;
  color:white;
}

/* Submit Button */
.form_wrap .submit_btn {
  font-size:17px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  width: 100%;
  background: #f39c12;
  padding: 10px;
  border: 0;
  color:white;
}
.form_wrap .submit_btn a{
  font-size:17px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  width: 100%;
  background: #f39c12;
  padding: 10px;
  border: 0;
  color:white;
}

/* Button Hover effect */
.form_wrap .submit_btn:hover{
  background: #444;
}